[submodule "emacs/.emacs.d/plugins/evil-numbers"]
	path = emacs/.emacs.d/plugins/evil-numbers
	url = git://github.com/cofi/evil-numbers.git
[submodule "emacs/.emacs.d/plugins/ecb-2.40"]
	path = emacs/.emacs.d/plugins/ecb-2.40
	url = git://github.com/alexott/ecb.git
[submodule "emacs/.emacs.d/plugins/auto-complete"]
	path = emacs/.emacs.d/plugins/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "emacs/.emacs.d/plugins/helm"]
	path = emacs/.emacs.d/plugins/helm
	url = git://github.com/emacs-helm/helm.git
[submodule "emacs/.emacs.d/plugins/deferred"]
	path = emacs/.emacs.d/plugins/deferred
	url = git://github.com/kiwanami/emacs-deferred.git
[submodule "emacs/.emacs.d/plugins/epc"]
	path = emacs/.emacs.d/plugins/epc
	url = git://github.com/kiwanami/emacs-epc.git
[submodule "emacs/.emacs.d/plugins/ctable"]
	path = emacs/.emacs.d/plugins/ctable
	url = git://github.com/kiwanami/emacs-ctable.git
[submodule "emacs/.emacs.d/plugins/jedi"]
	path = emacs/.emacs.d/plugins/jedi
	url = git://github.com/tkf/emacs-jedi.git
[submodule "emacs/.emacs.d/plugins/ace-jump-mode"]
	path = emacs/.emacs.d/plugins/ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "emacs/.emacs.d/themes/emacs-color-theme-solarized"]
	path = emacs/.emacs.d/themes/emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "emacs/.emacs.d/plugins/yasnippet"]
	path = emacs/.emacs.d/plugins/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "emacs/.emacs.d/plugins/ack-and-a-half"]
	path = emacs/.emacs.d/plugins/ack-and-a-half
	url = git://github.com/jhelwig/ack-and-a-half.git
[submodule "emacs/.emacs.d/plugins/emacs-flymake"]
	path = emacs/.emacs.d/plugins/emacs-flymake
	url = https://github.com/illusori/emacs-flymake.git
