*.pyc
*~
/emacs/.emacs.d/ac-comphist.dat
/emacs/.emacs.d/.session
/emacs/.emacs.d/auto-save-list
/emacs/.emacs.d/eshell/history
/emacs/.emacs.d/eshell/lastdir
/build/pip-delete-this-directory.txt
/emacs/.emacs.d/.mc-lists.el
core
emacs/.emacs.d/tmp/*
pentadactyl/.pentadactyl/info/
*.pyo
