[submodule "emacs/.emacs.d/plugins/evil-numbers"]
	path = emacs/.emacs.d/plugins/evil-numbers
	url = git://github.com/cofi/evil-numbers.git
[submodule "emacs/.emacs.d/plugins/yasnippet"]
	path = emacs/.emacs.d/plugins/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
